html, body {
    height: 100%;


}
body{
    background: white;
    text-decoration-color: #1b1b1b;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #050505;

}

div.supremeBody {
    width: 4000px;
    overflow: hidden;
    height: 100%;
    position: relative;
}

#mainTable {
    height: 70%;
    position: absolute;
    top: 50%;
    margin-top: -7%;
}

td.visualPost {
    margin: 100px;
    padding-right: 30px;
    /*border: 1px solid white;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 800px;
    height: 100%;
    vertical-align: top;
    text-transform: uppercase;

}

.Title {
    width: 100%;
}

.visualPost > a:link, .visualPost > a:visited {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
    display: inline-block;
    width: 100%;
}

.visualPost > a:hover {
    background: rgba(248, 248, 255, 0.80);
    color: black;
}





td.text {
    margin: 100px;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 20px;
    border: 1px solid white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 250px;
    font-size: 12px;
    vertical-align: 20px;
    text-align: center;
    /*background: rgba(255, 255, 255, 0.67);*/
    color: white;

}

td.dynoShow{}

